nav {
                background: #33ffff;
                width: 20em;
            }
img {
                width: 200px;
                margin-left: -40px;
            }
article {
                margin-left: 1.8em;
            }
            
h1{
                background: #87CEEB;
                background-sie: 200% 200%;
                text-align: center;
